<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map" style="height:400px;width:400px"></div>
<script>

    function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
        map.addListener("click", function (event) {
            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();

            var myLatLng = {lat: latitude, lng: longitude};

            //marker.position =  myLatLng;

            //console.log(marker.position);
            marker.setPosition(myLatLng);
            console.log( latitude + ', ' + longitude );


            // Center of map
            map.panTo(new google.maps.LatLng(latitude,longitude));

        }); //end addListener
    }





</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtngD9f8goVZl4wiS6JJE2iOG45DgxkZ4&signed_in=true&callback=initMap"></script>
</body>
</html>