<html>
<body>
<h1>{{ hello }}</h1>
<a href="http://fa16-cs411-04.cs.illinois.edu:8000/moviefun/insert/" target="_blank">Insert</a>
<a href="http://fa16-cs411-04.cs.illinois.edu:8000/moviefun/update/" target="_blank">Update</a>
<a href="http://fa16-cs411-04.cs.illinois.edu:8000/moviefun/select1/" target="_blank">Select1</a>
<a href="http://fa16-cs411-04.cs.illinois.edu:8000/moviefun/select2/" target="_blank">Select2</a>
<a href="http://fa16-cs411-04.cs.illinois.edu:8000/moviefun/select3/" target="_blank">Select3</a>
</body>
</html>
