<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="controller.js"></script>
    <script src="script.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<body>

<!-- Navbar -->
<div class="w3-top">
    <h1>Movie Fun<h2>
</div>

<!-- Sidenav -->
<nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4>Search</h4>
    <div class="filterbox">
        <label>Location</label>
        <div class="form-group">

            <input type="location" class="form-control" placeholder="Location">
        </div>

        <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Year
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"  aria-labelledby="dLabel">
                <form method="post"id="year">
                        <input type="checkbox" name="animal" value="1980"/>1980
                        <input type="checkbox" name="animal" value="1990" />1990
                        <input type="checkbox" name="animal" value="2000" />2000
                </form>
            </ul>
        </div>


        <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dLabel">
                <form method="post">
                    <input type="checkbox" name="animal" value="Cat" />-1980<br />
                    <input type="checkbox" name="animal" value="Dog" />1980-2000<br />
                    <input type="checkbox" name="animal" value="Bird" />2000-<br />
                </form>
            </ul>
        </div>


        <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rating
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <form method="post">
                    <input type="checkbox" name="animal" value="Cat" />9.0<br />
                    <input type="checkbox" name="animal" value="Dog" />8.0<br />
                    <input type="checkbox" name="animal" value="Bird" /><7.0<br />
                    <input type="checkbox" name="animal" value="Bird" /><6.0<br />
                </form>
            </ul>
        </div>
    </div>
    <div class="list" ng-app="movieApp">
        <div ng-controller='ListCtrl'>
            <div ng-repeat="movie in movies">
                {{movie.title}}
            </div>
        </div>
    </div>

</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-container">
            <div id="map" style="height:1000px;width:100%"></div>
        </div>
    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2">
            <h4>Footer</h4>
        </div>
    </footer>

    <!-- END MAIN -->
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt6agKRhfZjeilaXddUHDJPxkP7bdWiVg&signed_in=true&callback=initMap"></script>
</body>
</html>

