<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="/static/css/styles.css"> -->

    <!--<link rel="stylesheet" href="https://resources/demos/style.css">-->
     <link rel="stylesheet" href="../moviefun/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="/static/js/controller.js"></script>-->
    <!--<script src="/static/js/script.js"></script>-->
    <script src="../moviefun/static/js/controller.js"></script>
    <script src="../moviefun/static/js/script.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<title>Movie Fun</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<body ng-app="movieApp" ng-controller="ListCtrl">

<!-- Header -->
<div class="w3-top">
    <h1>Movie Fun</h1>
</div>

<!-- Sidenav -->
<nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
        <i class="fa fa-remove"></i>
    </a>
    <!--<h4>Search</h4>-->

    <div class="filterbox">
        <label>Location</label>
        <div class="form-group">

            <input id = "input" type="location" class="form-control" placeholder="Location">
            <button style="float:right;margin-top: 5px" id = "search">Go</button>
        </div>




        <p>
            <label for="year_range">Year:</label>
            <input  type="text" id="year_range" readonly style="border:0; color:#f6931f; font-weight:bold;" >
        </p>

        <div id="slider-year" style = "width:80%;margin-left:7px"></div>

        <p>
            <label for="rating_range">Ratings:</label>
            <input   type="text" id="rating_range" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-rating" style = "width:80%;margin-left:7px"></div>




        <div class="dropdown">
            <button  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dLabel">
                <form method="post" id="genre">
                    <div><input type="checkbox" name="genre" value="Action" />Action</div>
                    <div><input type="checkbox" name="genre" value="Adventure" />Adventure</div>
                    <div><input type="checkbox" name="genre" value="Crime" />Crime</div>
                    <div><input type="checkbox" name="genre" value="Drama" />Drama</div>
                    <div><input type="checkbox" name="genre" value="Musical" />Musical</div>
                    <div><input type="checkbox" name="genre" value="Romance" />Romance</div>
                    <div><input type="checkbox" name="genre" value="Western" />Western</div>
                </form>
            </ul>
        </div>



<!--
        <div><button id='Like'>Like this movie</button></div>
-->
    </div>

    <div class="list" >
        <label style="margin-left:7px">Recommendations</label>
        <!--<ul ng-controller='ListCtrl' class="list-group">
            <li ng-repeat="movie in test" class="list-group-item" style="padding:7px; width:95%">{{movie}}</li>
        </ul>-->
        <li id = "l0" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l1" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l2" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l3" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l4" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l5" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l6" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l7" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l8" class="list-group-item" style="padding:7px; width:95%"></li>
        <li id = "l9" class="list-group-item" style="padding:7px; width:95%"></li>

    </div>

</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-container">
            <div id="map" style="height:1000px;width:100%"></div>
        </div>
    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2">
            <h4>Footer</h4>
        </div>
    </footer>

    <!-- END MAIN -->
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt6agKRhfZjeilaXddUHDJPxkP7bdWiVg&signed_in=true&callback=initMap"></script>
</body>
</html>



